<!DOCTYPE html>
<html>

  <head>
    <link href='http://fonts.googleapis.com/css?family=Enriqueta:400,700' rel='stylesheet' type='text/css'>
    <style><%= File.read("template/newsletter_style.css").to_s %></style>
  </head>

  <body>
    <table class="container">
      <tr id="header">
        <td id="logo">
          <a href="http://www.ridemagazine.com/">
            <img src="http://www.ridemagazine.com/sites/default/files/multiflex3_logo.jpg">
          </a>
        </td>

        <% if @top_ad != nil %>
          <td id="ad-top">
            <a id="ad-top-img" href="<%= @top_ad[:url] %>"><img src="<%= @top_ad[:image] %>"></a>
          </td>
        <% end %>
      </tr>

      <tr>
        <td>
            <h3 id="subheader">Catch up on the latest horse news from
              <a href="http://www.ridemagazine.com/">Ridemagazine.com</a>
            </h3>
        </td>
      </tr>

      <% @articles.each do |article| %>
        <tr class="article">
          <td class="photo-container">
            <a href="<%= article[:url] %>">
              <img class="photo" src="<%= article[:photo] %>">
            </a>
          </td>
          <td class="content content-header">
            <a href="<%= article[:url] %>">
              <h3><%= article[:title] %></h3>
            </a>
            <% if article[:author] != nil %>
                <h4>by <%= article[:author] %></h4>
            <% end %>
          </td>
          <td class="content">
            <p><%= article[:preview] %></p>
          </td>
        </tr>

        <% if article[:ad_1] != nil %>
          <tr><td><hr></td></tr>
          <tr>
            <td class="ad-slot-left">
              <a href="<%= article[:ad_1][:url] %>">
                <img class="ad-slot-img" src="<%= article[:ad_1][:image] %>">
              </a>
            </td>

            <% if article[:ad_2] != nil %>
              <td class="ad-slot-right">
                <a href="<%= article[:ad_2][:url] %>">
                  <img class="ad-slot-img" src="<%= article[:ad_2][:image] %>">
                </a>
              </td>
            <% end %>
          </tr>
          <tr><td><hr></td></tr>
        <% end %>
      <% end %>

    </table>
  </body>
</html>
